/* map */
.map-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.map-page hr{
    margin-bottom: 10px;
    width: 100px;
}

.map-page h1 {
    color: white;
}

.map-page .ship {
    width: 60%;
    margin-bottom: 10px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-page .ship h1, p {
    margin-left: 20px;
    color: black;
    font-family:  'Nunito', sans-serif;
}

#mapid {
    width: 60%;
    height: 60vh;
}
