.requests-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.requests-page hr{
    margin-bottom: 10px;
    width: 100px;
}

.requests-page h1, h2{
    color: white;
}

.requests-page .request {
    width: 40%;
    margin-bottom: 25px;
    background-color: teal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.requests-page .request h1, p {
    margin-left: 20px;
    color: black;            <div class="request">
    <h1>Remetente: Nome</h1>
    <p>Local de entrega: local</p>
    <p><a href="">Seguir entrega!</a></p>
</div>
    font-family:  'Nunito', sans-serif;
}

.requests-page .request a{
    text-decoration: none;
    color: black;
}